body{
    background-color:rgb(236, 236, 236);
    margin: 0;
}
[data-a].offset{
    transform: translateY(300px)
}
[data-a]{
    transform: translateY(0);
    transition: all 0.5s;
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
  }
a{
    text-decoration: none;
}
ul,ol
{
        list-style: none;
}
*{
    margin: 0;
    padding: 0;
}
hr{
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(222, 222, 222);
}
.topbarOuter{
    padding-top: 34px;
    padding-bottom: 34px;
    position: fixed;
    width: 100%;
    color: rgb(144, 144, 144);
    transition: 1s;
    z-index: 1;

}
.topbarOuter.stick{
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    color: black;

}
.topbar{
    padding-left: 17px;
    padding-right: 17px;

}
.topbar .logo{
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.topbar .logo .rs{
    color: rgb(202, 103, 102);
    margin-right: 4px;
}
.topbar .logo .card{
    color: rgb(152, 157, 162)
}
.topbar>nav>ul{
    list-style: none;
    margin: 0;
    padding-top: 6px;
}
.topbar>nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    font-size:12px;
    position: relative;
   
}
.topbar>nav>ul>li>a{

    color: inherit;
    font-weight: bold;
    border-bottom:transparent;
    position: relative;
    animation: menuSlide .3s;
}
.topbar > nav > ul > li.active > a:after,
.topbar > nav > ul > li.hightLight> a:after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    position: relative;
    background: #e5686a;
    animation: menuSlide 1s;
    top:100%;

}

.topbar > nav > ul > li.active > a::after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    position: relative;
    background: #e5686a;
    animation: menuSlide 1s;
    top:100%;

}
.topbar > ul > li > a{
    display:  none;
}
@keyframes menuSlide{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}


.topbar .submenu{
    display: none;
    position: absolute;
    background: white;
    right: 0;
    top: 100%;
    box-shadow: 0 0 5px;
    font-size: 20px;
    background: white;
    box-shadow: 0 0 5px;
    
}
.topbar .submenu>li{
    white-space: nowrap;
}
.topbar li.active>.submenu{
    display:block;
    animation: aa .3s;
}
@keyframes aa{
    0%{
        margin-right: 100%;
    }
    100%{
        margin-right: 0%;
    }
}
.banner{
    background-image: url(../img/bk.jpg);
    height: 300px;
    height: 515px;
    background-size: cover;
}
.banner .mask{
    height: 515px;
    background-color: rgba(0,0, 0, 0.6);
}
.namecard{
    max-width: 940px;
    margin-left: auto;
    margin: auto;
    background-color: white;
    box-shadow: 0 3px 10px 0 rgba(135,133,133,1);
    margin-top: -200px;

}
.namecard .picText{
    padding: 50px;
}
.namecard .picture{
    float: left;
    border: 1px solid #fddedf
}
.namecard .namecardtext{
    float: left;
    width: 470px;
}
.namecard .welcome{
    color: white;
    background:#e5686a;
    padding: 4px 21px;
    position: relative;
    display: inline-block;
}
.namecard .welcome .triangle{
    border:10px solid transparent;
    height: 0px;
    width:0px;
    border-left-color:#e5686a;
    border-top-width: 0px;
    display: block;
    position: absolute;
    top:100%;
    left: 3px;
}
.namecard .namecardtext{
    margin-left: 60px;
   
}
.namecard .namecardtext >h1{
    padding-top: 37px;
}
.namecard .namecardtext >h2{
    font-size: 20px;
    padding-top: 3px;

}
.namecard hr{
    margin: 22px 0;
}
.namecard dt,
.namecard dd{
    float: left;
    margin-bottom: 20px;
}
.namecard dt{
    width: 30%;
    font-weight: bold;
}
.namecard dd{
    width: 70%;
    color: rgb(160, 160, 160);
}
.namecard ul li{
    float: left;

}
.namecard ul{
    display: inline-block;

        
}
.namecard .info a{
    border-radius: 50%;
    padding: 15px;
    display: inline-block;
    margin: 20px;
    background-color:#e5686a;
}
.namecard .info a:hover{
    border-radius: 50%;
    padding: 15px;
    display: inline-block;
    margin: 20px;
    background-color: rgb(208, 92, 96);
}
.namecard svg{
    fill: white;
    width: 20px;
    height: 20px;
    vertical-align: top;
}
.namecard> footer.info{
    text-align: center;
    background-color: #e5686a;
}
body .downloadouter{
    text-align: center;
    margin: 30px 0;
}
body .download{
    border: 1px solid rgb(222, 222, 222);
    padding: 21px;
    display: inline-block;
    color: black;
    border-radius: 3px;
}
body .download:hover{
    border: 1px solid rgb(222, 222, 222);
    padding: 21px;
    display: inline-block;
    color: black;
    border-radius: 3px;
    box-shadow: 0 3px 10px 0 rgba(135,133,133,1);
    transition: 1s;
}
.myself{
    max-width: 940px;
    margin-left: auto;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-bottom: 50px;

}
section >h1{
    text-align: center;
    
}
section >ul{
    max-width: 940px;
    margin-left: auto;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    box-shadow: 0 3px 10px 0 rgba(135,133,133,1);
    margin-bottom: 50px;
    padding: 15px 50px 25px;
    box-sizing: border-box;
}
section > ul >li{
    float: left; 
    width: 48%; 
    margin:20px 0;
}
section > ul >li:nth-child(even){
    float: right;
}
section > ul >li >h3{
    padding: 2px;
}
section .progressBar{
    height: 3px;
    background-color:rgb(251, 224, 225);
    border-radius: 2px;
    overflow: hidden;

}
section .progress{
    height: 3px;
    background-color: #e5686a;
    width: 50%;
    border-radius: 2px;
    transition: all 1s;
    overflow: hidden;
}
section.offset .progress{
    transform: translateX(-100%)
}
section.message > ol {
    max-width: 700px;
    margin: 0 auto;
    border-top:1px solid #ECECEC;
    border-bottom:1px solid #ECECEC;
    background: #F4F4F4;
}
section.message > ol >li{
    padding: 10px;
    border-top:1px solid #ECECEC;
    border-bottom:1px solid #ECECEC;
}


